extends layout

block content

  h1 ID : #{bookinstance._id}
  
  p #[strong Titre :] 
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong Impression :] #{bookinstance.imprint}

  p #[strong Statut :] 
    if bookinstance.status=='Available'
      span.text-success Disponible
    else if bookinstance.status=='Maintenance'
      span.text-danger Maintenance
    else if bookinstance.status=='Loaned'
      span.text-warning Emprunté
    else
      span.text-warning #{bookinstance.status} 
      
  if bookinstance.status!='Available'
    p #[strong Retour :] #{bookinstance.due_back_formatted}